<% if (error) { %>
  <div class="ui negative message">
    <p><%= error %>
    </p>
  </div>
<% } %>
<% if (message) { %>
  <div class="ui positive message">
    <p><%= message %>
    </p>
  </div>
<% } %>