<%- include('includes/head.ejs')%>
<%- include('includes/navigation.ejs')%>

</head>
<body>
  <br>
  <br>
    <div class="ui very padded text container center aligned segment">
        <div class="ui massive teal icon header">
          <i class="thumbs down outline icon"></i>
          <br>
          The page you're looking for does not exist
        </div>
        <div class="ui teal small header"><%=requestedRoute%></div>
      </div>

<%-include('includes/end.ejs')%>