<%-include('includes/head.ejs')%> <%-include('includes/navigation.ejs')%>

<div class="ui container">
  <div class="ui raised text container segment"">
    <form class="ui form" action="/login" method="POST">
    <!-- <form class="ui form" action="/" method="GET"> -->
      <div class="field">
        <label>Email address</label>
        <input type="text" name="email" />
      </div>
      <div class="field">
        <label>Password</label>
        <input
          type="password"
          name="password"
        />
      </div>
      <input type="hidden" name="_csrf" value=<%= csrfToken %>>
      <button class="ui teal button" type="submit">Login</button>
    </form>
  </div>
</div>

<%-include('includes/end.ejs')%>
