<%- include('includes/head.ejs')%> <%- include('includes/navigation.ejs')%>

<div class="ui container">
  <h1 class="ui huge center aligned header">The family menu</h1>

  <!-- Repeat for every menu day -->

  <!-- <div> -->
  <h5 class="ui horizontal divider header">21st April 2019</h5>

  <div class="ui four column grid">
    <div class="row">
      <div class="column">
        <div class="ui card">
          <div class="content">
            <img
              class="left floated tiny bordered ui image"
              src="http://2.bp.blogspot.com/-R-_uefQj57c/VYfsv1XAVwI/AAAAAAAAAy8/VzFhmcAjo8U/s1600/do_the_funky_chicken-1548136.jpg"
            />
            <div class="header">Raspberry bircher</div>
            <div class="meta">2 portions</div>
            <div class="description">Fran's lovely morning bircher</div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card">
          <div class="content">
            <img
              class="left floated tiny bordered ui image"
              src="http://2.bp.blogspot.com/-R-_uefQj57c/VYfsv1XAVwI/AAAAAAAAAy8/VzFhmcAjo8U/s1600/do_the_funky_chicken-1548136.jpg"
            />
            <div class="header">Lunch</div>
            <div class="meta">2 portions</div>
            <div class="description">A silly recipe example</div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui card">
          <div class="content">
            <img
              class="left floated tiny bordered ui image"
              src="http://2.bp.blogspot.com/-R-_uefQj57c/VYfsv1XAVwI/AAAAAAAAAy8/VzFhmcAjo8U/s1600/do_the_funky_chicken-1548136.jpg"
            />
            <div class="header">Dinner</div>
            <div class="meta">2 portions</div>
            <div class="description">A silly recipe example</div>
          </div>
        </div>
      </div>
      <div class="column">Notes</div>
    </div>
  </div>
</div>

<%-include('includes/end.ejs')%>
