<%-include('includes/head.ejs')%> <%-include('includes/navigation.ejs')%>

<div class="ui container">
  <div class="ui segment">
    Welcome to family menu. Click 'Add Menu' above to get started!
  </div>
</div>

<%-include('includes/end.ejs')%>
