<%-include('includes/head.ejs')%> <%-include('includes/navigation.ejs')%>

<div class="ui container">
  <div class="ui segment">
    <form class="ui form" action="/recipe" method="POST" enctype="multipart/form-data">
      <div class="field">
        <label>Name of recipe</label>
        <input type="text" name="name" placeholder="E.g. Tandoori tilapia" />
      </div>
      <div class="field">
        <label>Description</label>
        <input
          type="text"
          name="description"
          placeholder="E.g. A take on James Martin's Tandoori Cod"
        />
      </div>
      <!-- <div class="field">
        <label>Image Path</label>
        <input
          type="text"
          name="imagePath"
          placeholder="E.g. /www.example.com/images/food.jpg"
        />
      </div> -->
      <div class="field">
        <label>Image</label>
        <input
          type="file"
          name="imagePath"
          placeholder="Choose file"
        />
      </div>
      <input type="hidden" name="_csrf" value=<%= csrfToken %>>
      <button class="ui teal button" type="submit">Add Recipe</button>
    </form>
  </div>
</div>

<%-include('includes/end.ejs')%>
